<h2>{{'Register user' | translate}}</h2>
<br>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="po-row">
        <po-input class="po-md-4" p-label="{{'First Name' | translate}}" formControlName="firstName">

        </po-input>

        <po-input class="po-md-8" p-label="{{'Last name' | translate}}" formControlName="lastName">

        </po-input>

        <po-input class="po-md-6" p-label="{{'Username' | translate}}" formControlName="username">

        </po-input>

        <po-password class="po-md-6" p-label="{{'Password' | translate}}" formControlName="password">

        </po-password>
    </div>
    <div>
        <br>
        <h6 class="po-ml-1">{{'Address' | translate}}</h6>
        <div formGroupName="addres">
        <div>
            <po-input p-label="CEP" class="po-md-6" (p-blur)="fetchCep()" formControlName="cep"></po-input>
        </div>

        <div>
            <po-input p-label="Street" class="po-md-6" formControlName="street"></po-input>
        </div>

        <div>
            <po-input p-label="Number" class="po-md-6" formControlName="number"></po-input>
        </div>

        <div>
            <po-input p-label="Neighborhood" class="po-md-6" formControlName="neighborhood"></po-input>
        </div>

        <div>
            <po-input p-label="City" class="po-md-6" formControlName="city"></po-input>
        </div>

        <div>
            <po-input p-label="State" class="po-md-6" formControlName="state"></po-input>
        </div>
    </div>

        <div class="po-md-2">
            <po-button p-label="{{'Register' | translate}}" p-type="primary" (click)="onSubmit()"></po-button>
        </div>
        <div class="po-md-2">
            <po-button routerLink="/login" p-label="{{'Cancel' | translate}}" p-type="secondary"></po-button>
        </div>
    </div>

</form>